/* Desktop*/

*{
	border: 0;
	margin: 0;
	padding: 0;
}

.modal{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

a img{
	margin-top: 10px;
	width: 33%;
}


a{
	color: #000;
	font-size: 150%;
	text-decoration: none;
	
}

a:hover{
	color: #333;
	text-shadow: 2px 2px #FFF;
}

article, footer, header, section, nav{
	display: block;
}

aside, article{
	background: #FFF;
	border-radius: 0.5em;
	border-style: solid;
	border-width: 5px;
	display: inline-block;
	margin: 0 auto;
	max-height: 100%;
	padding: 1em;
	text-align: center;
	vertical-align: middle;
	width: 50%;
}

aside{
	width: 20%;
}

aside#menu img{
	width: 40px;
}

aside#ads img{
	width: 100%;
}

body{
	background:  #AAA;
	background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
}

button{
	background: linear-gradient(#F22, #922);
	border: 1px solid;
	padding: 10px;
	text-align: center;
}

button:hover {
	background: linear-gradient(#EEE, #AAA);
}

.cartImg {
	width: 25%;
	height: 100%;
}

#cartButton{
	vertical-align: middle;
}

#container {
	display: flex;
}

#container aside, #container article {
	margin-right: 10px;
}

#container aside:last-child {
	margin-right: 0px;
}

div#cart{
	background: rgb(240,240,240);
	display: flex;
	margin: 10px;
	padding: 10px;
	text-align: left;
}

div:last-child {
	border-bottom: none;
}

div label {
	margin: auto;
	text-align: center;
	width:25%;
}

label a:hover{
	color: #F00;
}

footer,  nav{
	border-radius: 0.5em;
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

header{
	background: linear-gradient(#EEE, #AAA);
	max-width: 100%;
	width: 100%;
}

h1{
	text-align: center;
	vertical-align: middle;
}

#image{
	width: 50%;
	border: 1px solid #000;
}

.cartImg{
	width: 80px;
	border: 1px solid #000;
}

.modal img{
	margin-top: 5%; 
	width: 35%;
}

.modal span{
	position: absolute;
	width: 50px;
	height: 50px;
	color: white;
	cursor: pointer;
	top: 20px;
	right: 20px;
}

.modal.hidden{
	display: none;
}

nav li{
	display: inline-block;
	padding: 0.5em;
	vertical-align: middle;
	width: 20%;
}

p{
	color: #505;
	display: block;
	font-size: 125%;
	margin-left: 5px;
	margin-top: 5px;
	text-align: left;
}

p:first-child, p:last-child{
	text-align: center;
	padding: 10px;
}

label{
	font-size: 16px;
	color: #000;
}

section{
	text-align: center;
}

table, td{
	text-align: left;
}

table{
	border-collapse: collapse;
	width: 100%;
}

td{
	padding: 15px;
	font-size: 75%;
}

/* Desktop high */

@media (min-width: 1021px) and (max-width: 1380px){

}

/* Desktop low */

@media (min-width: 721px) and (max-width: 1020px){
	
	nav a{
		font-size: 25px;
	}

	table, td a{
    	font-size: 20px;
	}

	td{
		padding: 10px;
	}

	aside#menu img{
		width: 30px;
	}

	aside#ads img{
		width: 100%;
	}	
}

/* tablet */

@media (min-width: 481px) and (max-width: 720px) {
	
	nav a{
		font-size: 20px;
	}

	td{
		padding: 0;
	}

	aside img{
		width: 60%;
	}

	aside#ads img{
		width: 100%;
	}

	table, td a{
    	font-size: 20px;
	}

	aside#menu img{
		display: none;
	}	
}

/* mobile */

@media only screen and (max-width: 480px){
	
	aside img{
		width: 50px;
		max-width: 50px;
	}

	aside, article{
		width: 80%;
		margin-bottom: 20px;
	}

	#container{
		display: block;
	}	

	#container aside, #container article {
    	margin-right: 0;
	}
	
	nav li {
    	display: block;
    	text-align: center;
    	font-size: 15px;
    	width: auto;
	}

	table, td a{
    	font-size: 25px;
	}

	aside#ads img{
		width: 100%;
	}
}